.container-fluid{
    overflow-x: hidden;
}
#serviceGroup{
    background-color: rgb(241, 238, 238);
    overflow-x: auto;
    position: sticky !important;
}
.services{
    color: black !important;
    text-decoration: none;
    padding: 10px 15px;
    border: 0;
    border-radius: 10px;
    font-family: 'Proza Libre', sans-serif;
}
.services:hover{
    background-color: lightgray;
}
.services:active{
    color: blue;
}
#backImage{
    background-color: rgb(21, 21, 142);
    overflow: auto;
}

@media (max-width:700px){
    #backImage > img{
        display: none !important;
    }
    .mato{
        width: 100% !important;
    }
}

.mato{
    padding: 40px 20px;
    color: white !important;
    font-family: 'Paytone One', sans-serif;
}
.mato > span{
    color: rgb(109, 227, 109);
}
