
.container-fluid{
    overflow-x: hidden;
}
#backImage{
    background-color: var(--blue);
    overflow: auto;
}

@media (max-width:700px){
    #backImage > img{
        display: none !important;
    }
    .mato{
        width: 100% !important;
    }
}

.mato{
    padding: 40px 20px;
    color: white !important;
    font-family: 'Paytone One', sans-serif;
}
.mato > span{
    color: rgb(109, 227, 109);
}

@media (max-width:450px){
    [alt="doc"]{
        width: 70% !important;
        margin-left: 15%;
    }
    .get-brief-answers{
        padding: 15px !important;
    }
}

.categories{
    background-color: rgb(244, 240, 240);
    padding: 4%;
}
.category-img{
    width: 100%;
    object-fit: fill !important;
    filter: brightness(0.5);
    box-shadow: 0 0 4px 5px  #4145581a;
}
.category-img:hover{
    transition: all;
    transition-duration: 0.2s;
    box-shadow: 0 0 0 0;
    transition-delay: 0s;
}
.category a:hover{
    text-decoration: underline;
    color: lightgreen;
}

.category{
    position: relative;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
}
.categories h4{
    font-family: 'Carter one';
}

.category a{
    position: absolute;
    top: 40%;
    left: 22%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width:1300px){
    .order-2{
        margin-left: 5.5% !important;
        margin-top: 2%  !important;
    }
}

/* news */

.news{
    padding: 4%;
    background-color: whitesmoke;
}
.news h4{
    font-family: 'Carter one';
}

@media (max-width:1220px){
    .news-video{
        width: 450px !important;
        height: 250px !important;
    }
}

@media (max-width:1010px){
    .news-video{
        width: 400px !important;
        height: 210px !important;
    }
}
@media (max-width:905px){
    .news-video{
        width: 350px !important;
        height: 180px !important;
    }
}
@media (max-width:359px){
    .news-video{
        width: 250px !important;
        height: 120px !important;
    }
}
/* Questions and answers */

.question-answer{
    background-color: rgb(236, 236, 236);
}
.question-answer .row {
    row-gap: 15px;
}

.question-answer h4{
    font-family: 'Carter one';
    font-weight: 100;
}
.qc-question{
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: larger;
    font-weight: 600;
}
.question-card{
    padding: 15px;
    background-color: white;
}
.qc-doctor-profile{
    display: flex;
    gap: 20px;
}
.qc-doctor-profile img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.qc-doctor-profile a{
    margin-bottom: 0 !important;
}
.qc-doctor-profile p{
    font-size: smaller;
    font-weight: 500;
    color: rgb(105, 105, 105);
}
.qc-doctor-profile div{
    padding-top: 5px;
}
.qc-doctor-consult span{
    color: rgb(119, 116, 116);
    font-size: larger;
    cursor: pointer;
}
.qc-footer{
    display: flex;
    justify-content: space-between
}
.question-card a{
    color: var(--darkred);
    font-weight: 500;
    text-decoration-thickness: 0;
}
.question-card a:hover{
    color: black !important;
}

/* get grief answers */

.get-brief-answers{
    background-color: white;
    padding: 25px;
    border: 1px solid var(--darkred);
}
.get-brief-answers p{
    font-size: smaller;
    color: rgb(90, 89, 89);
}
.get-brief-answers h5{
    margin-bottom: 0 !important;
}
.get-brief-answers textarea{
    width: 100%;
    margin-bottom: 10px;
}
.get-brief-answers textarea:focus{
    outline: none;
}
.get-brief-answers textarea{
    border-color: rgb(202, 200, 200);
    padding: 10px 15px;
}
.question-card:hover{
    box-shadow: 0 0 10px 5px rgb(174, 172, 172);
    transition-duration: 0.4s;
}
.get-brief-answers button{
    padding: 5px 10px;
    padding-bottom: 7px;
    border: none;
    background-color: var(--red);
    color: white;
    font-weight: 600;
    border-radius: 10px;
}