.find-doctors-search input{
    padding: 7px;
    border: none;
    width: 70%;
    color: rgb(89, 88, 88);
}
.find-doctors-search input:focus{
    outline: none;
}
.find-doctors-search label{
    border-right: 1px solid gray;
    padding: 5px;
    font-size: smaller;
    font-weight: 650;
    font-family: sans-serif;
    color: rgb(102, 101, 101);
}
.find-doctors-search{
    border: 1px solid gray;
    width: 40%;
    position: relative;
}
.search-doctors-list{
    border-radius: 10px;
    border: none;
    padding: 7px 15px;
    background-color: var(--red);
    color: white;
    font-weight: 500;
}
@media(min-width:1300px){
    .find-doctors-search{
        width: 35%;
    }
    .find-doctors-search input{
        width: 80%;
    }
    .find-doctor-div{
        max-width: 80% !important;
        padding: 30px 40px !important;
    }
}
.find-doctors-search span{
    color: rgb(107, 107, 107);
    position: absolute;
    right: 10px;
    top: 6.5px;
}
.find-doctors-search span:hover{
    color: var(--blue);
    cursor: pointer;
}
.searching-doctors{
    background-color: var(--darkblue);
    padding: 20px;
    color: white;
    padding-left: 30px;
}
.doctors-filter{
    padding: 20px;
}
.find-doctor-profile{
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.find-doctor-profile img{
    width: 100%;
}
.find-doctor-div{
    max-width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border-top: 1px solid rgb(165, 165, 165);
    padding: 20px 25px;
}
.find-doctor-img{
    width: 128px;
    height: 165px;
}
.find-doctor-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.find-doctor-data{
    line-height: 12px;
}
.find-doctor-data h5{
    color: rgb(12, 12, 213);
}
.find-doctor-data span{
    color: blue;
}
.find-doctor-locat{
    border-radius: 50%;
    border: 1px solid gray;
    width: 57px;
    height: 55px;
    padding: 5px;
    position: relative;
    margin-top: 12px;
    cursor: pointer;
}
.find-doctor-locat p{
    position: absolute;
    left: 22px;
}
.find-doctor-locat small{
    position: absolute;
    top: 31px;
    left: 11px;
    font-size: small;
    opacity: 0.8;
}
.find-doctor-addres{
    margin-top: 20px;
    width: 200px;
    margin-left: 10px;
    line-height: 16px;
    font-weight: 350;
}
.find-doctor-contact{
    margin-left: auto;
    margin-top: 20px;
}
.find-doctor-contact button{
    border-radius: 6px;
    font-size: smaller;
}


@media (max-width:800px){
    .find-doctor-contact{
        flex-basis: 100%;
        display: inline-flex;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .find-doctor-contact button{
        font-size: small;
    }
    .find-doctor-div{
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .find-doctors-search{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (max-width:517px){
    .find-doctor-data{
        font-size: smaller;
        line-height: 7px !important;
    }
    .find-doctor-data h5{
        font-size: 1.2rem !important;
    }
    .find-doctor-img{
        width: 100px;
        height: 140px;
    }
    .find-doctor-div{
        max-width: 100% !important;
    }
    .find-doctor-addres{
        width: 100px !important
    }
    .find-doctor-contact{
        justify-content: center;
    }
    .find-dcotors-form{
        display: none;
    }
    .searching-doctors h3{
        font-size: 1.2rem !important;
    }
    .searching-doctors{
        padding-left: 20px !important;
    }
}